body{
    margin-top: 5Vh;
    margin-left: 30vw;
    margin-right: 30vw;
    background-color: gray;
}

.row{
    display: flex;
    height: 8vmax;
}
.column{
    flex: 1;
}
button{
    width: 100%;
    height: 100%;
    font-size: 48px;
}
#display{
    background-color: white;
    border: 5px solid black;
}
#displayText{
    margin: 0%;
    font-size: 48px;
    height: 60px;
    text-align: center;
}
.opertator{
    background-color: rgb(132, 251, 255);
}
.special{
    background-color: aquamarine;
}
.numbers{
    background-color: beige;
}